# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Logs
*.log

# Pytest
.cache/

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.swp

# Media & uploads
backend/images/uploads/
backend/images/product_images/
backend/images/user_images/
backend/images/variant_images/
frontend/public/uploads/

# Test cache
.pytest_cache/

# Temp files
*.tmp
*~
